.body-goblin3000 {
    background: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container-goblin3000 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerHUD-goblin3000 {
    margin-top: 10px;
}

#canvas1-goblin3000 {
    border: 5px solid white;
}

#canvas2-goblin3000 {
    margin-top: 20px;
    /* background:rgba(255,255,255,0.1) */
}

